/* Header Styling */
.page-header {
  background-color: #F28C28;
  background-image: url("/images/light-paper-fibers.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
  color: #FFFFFF; /* Text color */
}

/* Avatar and background image */
.page-header img:first-of-type {
  width: 250px; /* Set size of the avatar */
  height: 250px; /* Set size of the avatar */
  object-fit: cover; /* Ensures the image is cropped correctly */
}

/* Name below the avatar */
.page-header h2 {
  margin-top: 40px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}