/* Header styling */
.page-header {
  width: 100%;
  background-color: #F28C28;
  background-image: url("/images/light-paper-fibers.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  height: 400px;
  position: relative;
  font-size: 36px;
}

.page-header img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.page-header h2 {
  margin-top: 40px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 36px;
}