/* Base styles */
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Top banner styles */
.topBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
}

/* Logo styling */
.logo span {
  font-weight: 400;
  font-size: 40px;
  font-family: Bungee, sans-serif;
  margin-left: 1.5em;
}

/* "Write a new tweet" section */
.makeTweet {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
  margin-right: 1.5em;
}

.makeTweet span {
  color: #FFFFFF;
}

.makeTweet i {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}