.new-tweet {
  width: 100%;
  background-color: #F4F1EC;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Source Sans 3", sans-serif;
}

.new-tweet textarea {
  background: transparent;
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Source Sans 3", sans-serif;
  color: #000;
  border-bottom: 4px solid #545149;
  resize: none;
  outline: none;
}

textarea::placeholder {
  padding: 10px 0;
  color: #444141;
  font-style: italic;
  border: none;
  width: fit-content;
}

.new-tweet button {
  background-color: #4056A1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Bungee, sans-serif;
}

form output {
  margin-left: 10px;
  font-size: 1.2em;
}

form button:hover {
  background-color: #F28C28;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-tweet .counter {
  float: right;
  font-size: 16px;
  font-family: Bungee, sans-serif;
}

.counter.counter-red {
  color: red;
}

.error-message {
  display: none;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}