.new-tweet {
  background-color: #F4F1EC;
  ;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Source Sans 3", sans-serif;
}

.new-tweet textarea {
  background: transparent;
  border: none;
  padding: 5px 0;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Source Sans 3", sans-serif;
  color: #000;
  border-bottom: 4px solid #545149;
}

textarea::placeholder {
  padding: 5px 0;
  color: #444141;
  font-style: italic;
  border: none;
  width: fit-content;
}

.new-tweet button {
  background-color: #4056A1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Bungee, sans-serif;
}

form button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
}

form output {
  margin-left: 10px;
  font-size: 1.2em;
}

form button:hover {
  background-color: #F28C28;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-tweet .counter {
  float: right;
  font-size: 16px;
  font-family: Bungee, sans-serif;
}

.counter.counter-red {
  color: red;
}